.marquee-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
  }
  
  .marquee-content {
    display: flex;
    gap: 6rem;
    animation: marquee 130s linear infinite;
  }

  .marquee-content:hover {
    animation-play-state: paused;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  /* Fade effect */
  .fade-overlay {
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    z-index: 10;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
    transform: rotateY(180deg);
  }
